
                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif">
                        <br></span></p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif">
					<%= user%><%= part_one%>
				    <br>
                           	<%-title %>
                    <br>
                    </span></p>
                <br>
                    <%-suggestions %>
                <br>
                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif">

                        <font color="#3333ff"><b><u><span lang="HE" style="font-family:Arial,sans-serif">
                            <%
                            var path = settings.index_path + '?redir=' + encodeURIComponent(settings.root_path + main_link);
                            %>
                            <a href="<%= path %>">
                            לחצו כאן כדי להצביע בעד או נגד ההצעה
                        </a>
                            </span></u></b></font>

                    </span></p>

