
<p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif">
                        <br></span></p>

<p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif">
					<%= user%> <%= part_one%>
                        <span style="font-weight: bold">
                            <%= part_two%>
                        </span>
                    </span></p>
<br>
<p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif">

                        <font color="#3333ff"><b><u><span lang="HE" style="font-family:Arial,sans-serif">
                        <a href="<%= settings.index_path %>?fs=<%=main_link %>">
                            לחצ/י לצפיה בתגובה
                        </a>
                            </span></u></b></font>

                    </span></p>
